START
PUSHI 0
STOREG 0
PUSHI 0
STOREG 1
PUSHI 1
STOREG 0
PUSHI 1
STOREG 1
10:
PUSHG 0
PUSHI 5
INFEQ
PUSHG 1
AND
JZ L1
PUSHG 0
WRITEI
WRITELN
PUSHG 0
PUSHI 3
EQUAL
JZ L3
PUSHI 0
STOREG 1
JUMP L4
L3:
L4:
PUSHG 0
PUSHI 1
ADD
STOREG 0
JUMP 10
JUMP L2
L1:
L2:
PUSHS "DONE"
WRITES
WRITELN
STOP