START
PUSHI 5
ALLOCN
STOREG 0
PUSHI 0
STOREG 5
PUSHI 0
STOREG 6
PUSHI 0
STOREG 6
PUSHS "Introduza 5 numeros inteiros:"
WRITES
WRITELN
PUSHI 1
STOREG 5
L1:
PUSHG 5
PUSHI 5
INFEQ
JZ L2
PUSHG 0
PUSHG 5
PUSHI 1
SUB
PADD
READ
ATOI
STORE 0
PUSHG 6
PUSHG 0
PUSHG 5
PUSHI 1
SUB
PADD
LOAD 0
ADD
STOREG 6
PUSHG 5
PUSHI 1
ADD
STOREG 5
JUMP L1
L2:
PUSHS "A soma dos numeros e: "
WRITES
PUSHG 6
WRITEI
WRITELN
STOP