START
PUSHI 0
STOREG 0
PUSHI 0
STOREG 1
PUSHI 0
STOREG 2
PUSHI 5
ALLOCN
STOREG 3
PUSHI 0
STOREG 8
PUSHS "START"
WRITES
WRITELN
PUSHI 0
STOREG 2
PUSHI 1
STOREG 8
READ
ATOI
STOREG 1
PUSHI 1
STOREG 0
L1:
PUSHG 0
PUSHI 5
INFEQ
JZ L2
PUSHG 3
PUSHG 0
PUSHI 1
SUB
PADD
PUSHG 0
PUSHG 1
MUL
STORE 0
PUSHG 2
PUSHG 3
PUSHG 0
PUSHI 1
SUB
PADD
LOAD 0
ADD
STOREG 2
PUSHG 0
PUSHI 1
ADD
STOREG 0
JUMP L1
L2:
PUSHS "SUM = "
WRITES
PUSHG 2
WRITEI
WRITELN
PUSHG 2
PUSHI 50
SUP
PUSHG 8
AND
JZ L3
PUSHS "BIG SUM"
WRITES
WRITELN
JUMP L4
L3:
PUSHS "SMALL SUM"
WRITES
WRITELN
L4:
PUSHG 8
NOT
PUSHG 2
PUSHI 0
EQUAL
OR
JZ L5
PUSHS "INVALID STATE"
WRITES
WRITELN
JUMP L6
L5:
PUSHS "STATE OK"
WRITES
WRITELN
L6:
PUSHI 1
STOREG 0
20:
PUSHG 0
PUSHI 5
INFEQ
JZ L7
PUSHG 3
PUSHG 0
PUSHI 1
SUB
PADD
LOAD 0
PUSHG 1
EQUAL
PUSHG 3
PUSHG 0
PUSHI 1
SUB
PADD
LOAD 0
PUSHI 10
SUP
OR
JZ L9
PUSHG 0
WRITEI
PUSHS " SPECIAL"
WRITES
WRITELN
JUMP L10
L9:
PUSHG 0
WRITEI
PUSHS " NORMAL"
WRITES
WRITELN
L10:
PUSHG 0
PUSHI 3
EQUAL
JZ L11
PUSHI 0
STOREG 8
JUMP L12
L11:
L12:
PUSHG 0
PUSHI 1
ADD
STOREG 0
JUMP 20
JUMP L8
L7:
L8:
PUSHG 8
JZ L13
PUSHS "FINISHED CLEAN"
WRITES
WRITELN
JUMP L14
L13:
PUSHS "FINISHED DIRTY"
WRITES
WRITELN
L14:
STOP