START
PUSHI 0
STOREG 0
PUSHI 1
STOREG 0
10:
PUSHG 0
PUSHI 10
INFEQ
JZ L1
PUSHG 0
PUSHI 8
SUP
JZ L3
PUSHG 0
WRITEI
PUSHS " is BIG"
WRITES
WRITELN
JUMP L4
L3:
PUSHG 0
PUSHI 3
EQUAL
PUSHG 0
PUSHI 7
EQUAL
OR
JZ L5
PUSHG 0
WRITEI
PUSHS " is SPECIAL"
WRITES
WRITELN
JUMP L6
L5:
PUSHG 0
WRITEI
PUSHS " is NORMAL"
WRITES
WRITELN
L6:
L4:
PUSHG 0
PUSHI 1
ADD
STOREG 0
JUMP 10
JUMP L2
L1:
L2:
PUSHS "DONE"
WRITES
WRITELN
STOP